/*pantallas medianas*/
@media only screen and (max-width: 960px){
  .hideMd{
    display: none;
  }
  .showMd{
    display: flex;
  }

  
/*///////////////////////contenido*/
.width20Md{
  width: 20%;
}
.width30Md{
  width: 30%;
}
.width33Md{
  width: 33%;
}
.width50Md{
  width: 50%;
}
.width60Md{
  width: 60%;
}
.width70Md{
  width: 70%;
}
.width80Md{
  width: 80%;
}
.width90Md{
  width: 90%;
}
.fullWidthMd{
  width: 100%;
}

.height50Md{
  height: 50px;
}
.height100Md{
  height: 100px;
}
.height150Md{
  height: 150px;
}
.height200Md{
  height: 200px;
}
.height250Md{
  height: 250px;
}
.height300Md{
  height: 300px;
}
.height350Md{
  height: 350px;
}
.height400Md{
  height: 400px;
}
.height500Md{
  height: 500px;
}
.fullHeightMd{
  height: 100%;
}
.autoHeightMd{
  height: auto;
}
.minHeight500Md{
  min-height: 700px;
}

	

/*///////////////////////////////////////////////////////////header*/

#header {
  position: absolute;
  /*background-color: #282828;*/
}

/*//////////////////////////////////////////////////////footer*/
#footer{
  
}
#footer .footerTop{
}
#footer .footerTop .column{
  width: 80%!important;
  padding: 20px 0 0 0;
}



/*/////////////////////////////////////////////////////////////newsletter*/
#newsletter{
}
#newsletter form{
  margin: 10px;
}
#newsletter form input{
  width: 100%;
  margin: 10px 0;
}
#newsletter form button{
  width: 100%;
  margin: 10px 0;
}


/*////////////////////////////////////////////////////////////////blog*/
.blog .content{
 padding-left: 0px;
}
